<div class="panel panel-default">
    <div class="panel-heading">
        <strong>CTI Articles</strong>
    </div>

    <div class="panel-body">
        {% assign primero = site.categories.cyber | first %}
        {% if primero %}
        {% assign anio = primero.date | date: "%Y" %}
        <div>
            <h4 class="archive-title">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <a href="#">{{anio}}</a>
            </h4>
            <ul class="list-group archive-list" style="display: none;">
                {% for post in site.categories.cyber %}
                {% assign nanio = post.date | date: "%Y" %}
                {% if anio != nanio %}
                {% assign anio = post.date | date: "%Y" %}
            </ul>
        </div>
        <div>
            <h4 class="archive-title">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <a href="#">{{anio}}</a>
            </h4>
            <ul class="list-group archive-list" style="display: none;">
                {% endif %}
                <li class="list-group-item">
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | truncate: 32 }}</a>
                        <span class="badge">
                            <time>{{ post.date | date:"%d %b" }}</time>
                        </span>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <p>No Cyber Warfare posts found in this section</p>
        {% endif %}
    </div>
</div>
