<footer class="container-fluid amnesia_site-footer">
    <div class="row">
        <div class="col-xs-6">

			<span style="margin:20px">	
				<a target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><img style="max-height: 50px;"
                                                                                               src="{{ '/images/twitter.svg' | prepend: site.baseurl }}"/></a>
			</span>

            <span target="_blank" style="margin:20px">
                    <a href="{{ '/feed.xml' | prepend: site.baseurl }}"><img style="max-height: 50px;"
                                                                             src="{{ '/images/rss.svg' | prepend: site.baseurl }}"/></a>
            </span>

			<span style="margin:20px">
				<a target="_blank" href="https://telegram.me/{{ site.telegram_username }}"><img
                        style="max-height: 50px;" src="{{ '/images/telegram.svg' | prepend: site.baseurl }}"/></a>
			</span>

        </div>

        <div class="col-xs-6">
            <blockquote>
                <p>
                    {{ site.description }}
                </p>
                <p>
                    <small>{{ site.title }}</small>
                </p>
            </blockquote>
        </div>
    </div>
</footer>
