
<style>
.ascii-art {
    font-family: courier;
    white-space: pre;
    color: #f7006f;
     font-size: 0%;
}
.hex {
    font-family: courier;
    white-space: pre;
    color: #f7006f;
     font-size: 120%;
}
.name {
    font-family: courier;
    white-space: pre;
    color: #00f7ef;
     font-size: 120%;
}
</style>

<header class="container-fluid amnesia_site-header">
      <div class="ascii-art">
          <img src="https://raw.githubusercontent.com/n4x0r/n4x0r.github.io/master/images/bg.png" width="550" height="550">
</div>	

</header>
