
<style>
.ascii-art {
    font-family: courier;
    white-space: pre;
    color: red;
     font-size: 80%;
}
</style>

<header class="container-fluid amnesia_site-header">
	<div class="ascii-art">
		
		uuuuuuu	
	     uu$$$$$$$$$$$uu	
          uu$$$$$$$$$$$$$$$$$uu		
         u$$$$$$$$N4X0R$$$$$$$$u	
        u$$$$$$$$$$$$$$$$$$$$$$$u	
       u$$$$$$$$$$$$$$$$$$$$$$$$$u	
       u$$$$$$$$$$$$$$$$$$$$$$$$$u	
       u$$$$$$"   "$$$"   "$$$$$$u	
       "$$$$"      u$u       $$$$"	
        $$$u       u$u       u$$$	
        $$$u      u$$$u      u$$$	
         "$$$$uu$$$   $$$uu$$$$"	
          "$$$$$$$"   "$$$$$$$"		
            u$$$$$$$u$$$$$$$u		
             u$"$"$"$"$"$"$u		
  uuu        $$u$ $ $ $ $u$$       uuu	
 u$$$$        $$$$$u$u$u$$$       u$$$$	
  $$$$$uu      "$$$$$$$$$"     uu$$$$$$	
u$$$$$$$$$$$uu    """""    uuuu$$$$$$$$$$	
$$$$"""$$$$$$$$$$uuu   uu$$$$$$$$$"""$$$"	
 """      ""$$$$$$$$$$$uu ""$"""		
           uuuu ""$$$$$$$$$$uuu			
  u$$$uuu$$$$$$$$$uu ""$$$$$$$$$$$uuu$$$	
  $$$$$$$$$$""""           ""$$$$$$$$$$$"	
   "$$$$$"                      ""$$$$""	
     $$$"                         $$$$"		
		
		
	</div>
</header>
