<!DOCTYPE html>
<html lang="es">
	{% include head.html %}


	<div id="top">
		<body id="particles-js">
			<div class="container">
				{% include header.html %}
				
				{% include nav.html %}

				{{ content }}

				<hr />
				
				{% include footer.html %}
			</div>
		</body>	
	</div>
		
		<script src="{{ '/js/particles.js' | prepend: site.baseurl }}"></script>
		<script src="{{ '/js/app.js' | prepend: site.baseurl }}"></script>
		<script src="{{ '/js/jquery.min.js' | prepend: site.baseurl }}"></script>
		<script src="{{ '/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
		<script src="{{ '/js/scripts.js' | prepend: site.baseurl }}"></script>


</html>
